#pr-body {
  height: 100%;
}
.profile-header {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 15px;
  color: white;
}

.pro-header__top:last-child span {
  margin-left: 10px;
}

.pro__avatar {
  margin-top: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.568);
  padding: 50px 50%;
}

.pro__tittle {
  margin-top: 15px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.pro__bottom {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro__more-suggestion {
  margin-top: 10px;
  padding-top: 40px;
  margin-left: 30px;
}
.pro__more-suggestion__tittle {
  margin-bottom: 30px;
}

.pro__more-suggestion__icons {
  display: flex;
}

.pro__more-suggestion__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pro__more-suggestion__icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.pro__more-suggestion__icon-image i {
  font-size: 32px;
  color: white;
}
.pro__more-suggestion__icons-text {
  margin-top: 15px;
  color: white;
}
